
/* .box-width
{
     width:80%; 
} */

.td-style {
    font-weight: bold;
    width:25px;
}

.correct
{
    background-color: yellowgreen;
}
.misplaced
{
    background-color: orange;
}
.incorrect
{
    background-color: grey;
}

.table-style
{      
        width: 13%;
        margin-left: auto;
        margin-right: auto;
        border: solid;
        border-color: gray;
        padding-right: 2px;
}
.header
{
    text-align:center;
}